@import "./config/index.scss";

::-webkit-scrollbar {
	width: 1.5px;
	height: 1.5px;
	background: transparent;

	&-thumb {
		background: rgba(0, 0, 0, 0.5);
		border-radius: 500px;
	}

	&-track {
		background: transparent;
	}
}
