@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(-0.25rem);
	}

	50% {
		transform: translateY(0);
	}

	75% {
		transform: translateY(0.25rem);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes shimmer {
	0% {
		background-position: -450px 0;
	}

	100% {
		background-position: 450px 0;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}
