@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks:wght@300;400;500;600;700&display=swap');

:root,
:root::before,
:root::after {
    --font-poppins: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --font-lato: Lato, Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --font-roboto: Roboto, Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --font-montserrat: Montserrat, Poppins, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;

    --font-raleway: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font-manrope: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font-quicksand: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font-cabin: 'Cabin', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font-roboto: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font-lexend: 'Lexend', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font-gugi: 'Gugi', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font-open-sans: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font-alice: Alice, 'Times New Roman', Times, serif;
}

@mixin typography($type: body, $size: md) {
    @if $type ==heading {
        @if $size ==h1 {
            font-family: var(--font-alice);
            font-size: 80px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -0.02em;
        }

        @else if $size ==h2 {
            font-family: var(--font-alice);
            font-size: 61px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -0.02em;
        }

        @else if $size ==h3 {
            font-family: var(--font-alice);
            font-size: 47px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -0.02em;
        }

        @else if $size ==h4 {
            font-family: var(--font-alice);
            font-size: 36px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -0.02em;
        }

        @else if $size ==h5 {
            font-family: var(--font-alice);
            font-size: 27px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -0.02em;
        }
    }

    @else if $type ==body {
        @if $size ==lg {
            font-family: var(--font-noto-sans);
            font-size: 21px;
            font-weight: 500;
            line-height: 170%;
            letter-spacing: -0.01em;
        }

        @else if $size ==md {
            font-family: var(--font-noto-sans);
            font-size: 16px;
            font-weight: 500;
            line-height: 170%;
            letter-spacing: -0.01em;
        }
    }

    @else if $type ==btn {
        @if $size ==md {
            font-family: var(--font-noto-sans);
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
        }

        @else if $size ==lg {
            font-family: var(--font-noto-sans);
            font-weight: 500;
            font-size: 21px;
            line-height: 110%;
        }
    }
}

:root,
:root::before,
:root::after {
    --font-heading-h1: @include typography(heading, h1);
    --font-heading-h2: @include typography(heading, h2);
    --font-heading-h3: @include typography(heading, h3);
    --font-heading-h4: @include typography(heading, h4);
    --font-heading-h5: @include typography(heading, h5);

    --font-body-lg: @include typography(body, lg);
    --font-body-md: @include typography(body, md);

    --font-btn-lg: @include typography(btn, lg);
    --font-btn-md: @include typography(btn, md);
}