name: Check formatting and linting
on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    format-lint:
        runs-on: ubuntu-latest
        steps:
            - name: Configure Git
              run: |
                  git config --global user.name "GitHub Actions"
                  git config --global user.email "github-actions[bot]@users.noreply.github.com"

            - name: Checkout
              uses: actions/checkout@v3
              with:
                  ref: ${{ github.event.pull_request.head.sha }}
                  fetch-depth: 0

            - name: Setup Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: "18"

            - name: Install Dependencies
              run: yarn
            - name: Check formatting
              run: yarn format:check
            - name: Lint
              run: yarn lint
